:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#main-content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2C3E50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #415162;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #333;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  text-align: center;
  box-sizing: border-box;
}

.full-page {
  flex: 1;
  max-width: 100%;
  height: 100%;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-submit-button {
  margin-top: 7px;
}

.form-notification-container {
  color: #1c9b2f;
}

.form-error-container {
  color: red;
}

.search-bar {
  
}

.scroll-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  text-align: center;
}
